@font-face {
  font-family: 'Montserrat Ultralight';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Ultralight'), local('Montserrat Ultralight'), url("//http://www.alidem.com/views/public/assets/fonts/montserrat-ultralight-webfont.woff") format('woff');
}
