body{
  background-color: #F24F66;
}

h1{
  color: white;
  font-family:Montserrat;
}

h2{
  color: white;
  font-family:Montserrat;
}

h3{
  color: white;
  font-family:Montserrat;
}

h4{
  color: white;
  font-family:Montserrat;
}

a{
  color: white;
  font-family:Montserrat;
  font-size: 28px;
}
